@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
    --light-text-color: #000;
    --dark-text-color: #eee;
    --light-bg-color: rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9);
    --dark-bg-color: #333;
    --gradient: linear-gradient(to bottom, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
}

body {
    background: var(--gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--light-text-color);
    font-weight: bold;
}

body.dark-mode {
    color: var(--dark-text-color);
    background-color: var(--dark-bg-color);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.toggle {
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    float: right;
    margin-left: auto;
}

.toggle:hover {
    background-color: white;
    color: #97caec;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: var(--light-text-color);
    font-family: 'Raleway', sans-serif;
    margin: 50px 0;
    font-size: 3rem;
    font-weight: bold;
}

body.dark-mode h1 {
    color: var(--dark-text-color);
}

p, h2, ul {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--light-text-color);
}

body.dark-mode p, body.dark-mode h2, body.dark-mode ul {
    color: var(--dark-text-color);
}

.navbar {
    background: linear-gradient(to right, var(--light-bg-color));
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

body.dark-mode .navbar {
    background: var(--dark-bg-color);
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;
    flex-wrap: wrap;
}

.navbar ul li {
    margin: 5px;
}

.navbar ul li a {
    display: block;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--light-text-color);
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

body.dark-mode .navbar ul li a {
    color: var(--dark-text-color);
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
}

.headshot-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headshot-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-box {
    background-color:#F854CA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.header-box h1 {
    margin: 0;
    color: var(--light-text-color);
    font-size: 2.5rem;
    font-weight: bold;
}

body.dark-mode .header-box {
    background-color: #212226;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

.contact-info {
    max-width: 600px; /* Adjust as needed */
}

.contact-info h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--light-text-color);
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li a {
    color: var(--light-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info ul li a:hover {
    color: #ddd;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thumbnail {
    width: calc(33.33% - 10px);
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.thumbnail:hover {
    border: 2px solid #ddd;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
}

.lightbox-content img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

video {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
}
/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        width: 100%;
        justify-content: space-between;
    }

    .toggle {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .navbar ul li {
        flex: 1;
        margin: 5px 0;
        width: auto;
    }

    .navbar ul li a {
        padding: 5px 10px;
        font-size: 0.5em;
        width: 100%;
    }

    .container ul {
        padding-left: 20px;
    }

    .contact-info ul,
    .contact-info li,
    .contact-info p {
        font-size: 1.0em;
    }

    @media (max-width: 768px) {
        .main-content {
            flex-direction: column;
        }

        .header-box {
            padding: 10px;
        }

        .headshot-circle {
            width: 100px;
            height: 100px;
        }

        p, h2, ul {
            font-size: 1.2rem;
        }

        .about-me-content,
        .media-content {
            max-width: 100%;
            padding: 0;
        }
    }
}
